<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>

<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 3px; padding: 0.4em; padding: 1.5em; font-size: 1.4em; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

</style>

<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>

<div class="container">
   <form class="form-horizontal" >
  <fieldset>
    <!-- Form Name -->
    <legend>Edit course / section / video information</legend>

    <!-- Text input-->
    <div class="container">
      <div class="control-group">
        <label class="control-label" for="courseName">Course Name</label>
        <div class="controls">
          <input id="courseName" name="courseName" type="text" placeholder="<%= courseInfo.course.name %>" class="col-md-9">
        </div>
      </div>
    </div>

    <!-- Text input-->
    <div class="container">
      <div class="control-group">
        <label class="control-label" for="courseDescription">Course Name</label>
        <div class="controls">
          <textarea id="courseDescription" name="courseDescription" class="col-md-9"  height="150px"><%= courseInfo.course.description %></textarea>
        </div>
      </div>
    </div>
    <!-- Text input-->
    <div class="container">
      <div class="control-group">
        <label class="control-label" for="courseLevel">Course Level</label>
        <div class="controls">

          <select id="courseLevel" name="courseLevel"  class="col-md-9" >
            <option>Beginner</option>
            <option>Medium</option>
            <option>Advanced</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Text input-->
    <div class="container">
      <div class="control-group">
        <label class="control-label" for="courseTags">Course Tags</label>
        <div class="controls">
          <input id="courseTags" name="courseTags" type="text" placeholder="<%= courseInfo.course.tags %>" class="col-md-9">
        </div>
      </div>
    </div>

    <!-- Text input-->
    <div class="container">
    <div class="control-group">
      <label class="control-label" for="courseSectionName">Section Name</label>
      <div class="controls">
        <input id="courseSectionName" name="courseSectionName" type="text" placeholder="<%= courseInfo.section.title %>"  class="col-md-9">

      </div>
    </div>
    </div>

    <!-- Text input-->
    <div class="container">
      <div class="control-group">
        <label class="control-label" for="sectionTags">Section Tags</label>
        <div class="controls">
          <input id="sectionTags" name="sectionTags" type="text" placeholder="<%= courseInfo.section.tags %>" class="col-md-9">
        </div>
      </div>
    </div>

    <!-- Text input-->
    <div class="container">
    <div class="control-group">
      <label class="control-label" for="SectionDescription">Section Description</label>
      <div class="controls">
        <textarea id="SectionDescription" name="SectionDescription" class="col-md-9" height="150px"><%= courseInfo.section.description || "description"  %></textarea>
      </div>
    </div>
    </div>

    <!-- Select Multiple -->
    <div class="container">
    <div class="control-group">
    <div class="col-md-8">
      <label class="control-label" >Videos of this section </label>
      <div class="controls">
        <ul id="sortable">
          <% courseInfo.videos.forEach(function(video){ %>
          <% console.dir(video.toJSON()); %>
          <% console.dir(video.playtoken()); %>
          <li class="ui-state-default">
            <input id="videoId" name="videoId" type="text" text=<%= video.id %>  hidden="true"  disabled class="col-md-10" >
            <input id="videoName" name="videoName" type="text" text=<%= video.name %> placeholder="videoName" class="col-md-10" >
            <br/>
            <video  width="320" height="240" controls  src=<%="/mediaServer/video/stream/" + video.playtoken()   %>

             </video>
              <!--
                         "http://localhost:1337/mediaServer/video/stream/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJtZWRpYUlkIjoxLCJ0dXRvcklkIjoiMSIsInBhdGgiOiIvbWVkaWEvdHV0b3JzLzEvY291cnNlcy8xL2hyZXMvbTEtczEubXA0In0.AvwkykyUsUh6zbTazKoaYHqmuqqbFHD4MVNfP7bQB6Q">

              -->
          </li>
          <% }) %>

          </ul>
      </div>
      </div>
    </div>
</div>
  </fieldset>
</form>


</div>
<%
//var courseInfo={
//  courseToken:token,
//  course:course,
//  sections:sections,
//  videos:videos
//};
//
//  courseInfo.course.name
  %>



<%=  courseInfo.section.name %>
